// 基本色
$accent-color: rgba(245, 245, 246, 1);
$back-coor: rgba(55, 56, 56, 1);
$error-color: rgba(247, 74, 97, 1);
$info-color: rgba(137, 167, 202, 1);
$line-color: rgba(1, 185, 5, 1);
$primary-color: rgba(44, 76, 107, 1);
$secondary-color: rgba(90, 120, 153, 1);
$success-color: rgba(116, 168, 134, 1);
$warn-color: rgba(229, 189, 70, 1);


html {
  height: 100%;
}

body {
  height: 100%;
}

#admin-body {
  background-color: $accent-color;
  display: flex;
  flex-wrap: wrap;
  color: $primary-color;
  height: 100%;
  margin: 0;
  padding: 0;
}

// 管理画面：サイドメニュー
#admin-sidemenu {
  background-color: $primary-color;
  height: 100%;
  padding: 10px 15px;
  flex-basis: 200px;
}

.admin-sidemenu {
  &-text {
    color: $accent-color;
    margin: 10px 0;
  }

  &-ul {
    list-style: none;
  }

  &-link {
    text-decoration: none;
  }
}

// メインコンテンツ
#admin-contents {
  height: 100%;
  padding: 20px 40px;
}

#admin-login {
  background-color: $accent-color;
  height: 100%;
  padding: 20px 40px;
}

.admin {
  &-login-form {
    background-color: $primary-color;
    color: $accent-color;
    padding: 5px 80px;
    text-align: center;

    &-group {
      margin: 10px 0;
      text-align: left;
    }

    &-text {
      width: 200px;
    }

    &-label {
      font-size: 13px;
    }

    &-btn {
      color: $primary-color;
      margin: 20px 15px;
      padding: 7px 10px;
    }  
  }

  &-table {
    border: solid 1px $info-color;
    border-collapse: collapse;
    padding: 0;
  }

  &-t-head {
    background-color: $primary-color;
    border: solid 1px $info-color;
    color: $accent-color;
    margin: 0;
    padding: 5px 10px;
  }

  &-t-row {
    border: solid 1px $info-color;
  }

  &-t-data {
    border: solid 1px $info-color;
    margin: 0;
    padding: 5px 15px;
  }

  &-btn {
    text-decoration: none;
    margin: 5px 10px;
  }

  &-form {
    &-group {
      margin: 10px 0;
      text-align: left;
    }

    &-text {
      width: 250px;
    }

    &-number {
      width: 50px;
    }

    &-label {
      font-size: 13px;
    }

    &-btn {
      margin: 20px 15px;
    }
  }

  &-error-ul {
    list-style: none;
    padding: 0;
    text-align: left;
  }

  &-error-li {
    background-color: $error-color;
    color: $accent-color;
    padding: 3px 5px;
  }

  &-pagenate {
    margin: 15px
  }

  &-search {
    &-group {
      display: flex;
      margin-bottom: 10px;
    }

    &-form {
      margin-right: 20px;
    }
  }
}

#admin-error-explanation {
  padding: 0;
  text-align: center;
}

// 共通設定
a:visited{
  color: inherit;
  height: 100%;
  width: 100%;
}

.flash-message {
  background-color: $error-color;
  color: $accent-color;
  height: 50px;
  left: 0;
  line-height: 50px;
  padding: 5px 10px;
  position: absolute;
    top: 0;
    left: 0;
  text-align: center;
  width: 100%;
}