<div id="admin-sidemenu">
  <h3 class="admin-sidemenu-text">
    I-Hate-To-Eat
  </h3>

  <ul class="admin-sidemenu-ul">
    <li class="admin-sidemenu-text">
      <%= link_to 'ユーザー', admin_users_path, class: "admin-sidemenu-link" %>
    </li>
  </ul>
</div>